<!-- register-modal.component.html -->
<div class="modal fade" id="registerModal" tabindex="-1" aria-labelledby="registerModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="registerModalLabel">Before You Register</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>After proceeding, please make sure that you have switched to the <strong>Bullion Co-op</strong> before registering, if it doesn't show already.</p>
        <div class="alert alert-warning" role="alert">
          <strong>Warning:</strong> You are about to be redirected to My Co-op to register with Bullion Beperk. If this is what you are wanting to do, click the <strong>continue to register</strong> button below.
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <a href="https://system.mycoop.co.za/account/register" target="_blank" class="btn btn-primary">Continue to Register</a>
      </div>
    </div>
  </div>
</div>
