.pools-image {
  max-width: 250px;
  width: 100%;
  margin: 0 auto;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

.card-title img {
  vertical-align: middle;
}

.card {
  transition: box-shadow 0.2s ease;
}

.card:hover {
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.05);
}

.text-secondary {
  color: #adb5bd !important;
}
.skeleton-loader {
  background: linear-gradient(90deg, #444 25%, #555 37%, #444 63%);
  background-size: 400% 100%;
  animation: skeleton 1.4s ease infinite;
  border: 1px solid #444;
}

@keyframes skeleton {
  0% {
    background-position: 100% 0;
    
  }
  100% {
    background-position: -100% 0;
  }
}
