/* fees.component.css */

.card {
  margin-bottom: 1.5rem;
}

h1, h2 {
  font-weight: bold;
}

.table th, .table td {
  text-align: center;
}

table {
  width: 100%;
  margin-bottom: 1.5rem;
}

.card-body {
  padding: 1.25rem;
}

canvas {
  background-color: #222;  /* Ensure canvas has a dark background */
}
