<div class="container vh-100 d-flex justify-content-center align-items-center">
  <div class="text-center">
    <p-card [style]="{ width: '30rem', overflow: 'hidden' }" class="mb-4">
      <ng-template pTemplate="header">
        <img alt="Card" class="img-fluid" src="download-screenshot.png" />
      </ng-template>

      <ng-template pTemplate="title">
        User Guide for Co-Op Members
      </ng-template>

      <p class="px-3">
        HOW TO REGISTER ON THE MY CO-OP APP AS USER AND THEN OPEN AN ACCOUNT TO APPLY FOR MEMBERSHIP
      </p>

      <div class="d-flex justify-content-between px-3 pb-3">
        <p-button 
          label="Download PDF" 
          icon="pi pi-download" 
          severity="primary" 
          (click)="openFileInNewTab()">
        </p-button>

        <p-button 
          label="Login" 
          icon="pi pi-sign-in" 
          severity="primary" 
          (click)="newMemberLogin()">
        </p-button>
      </div>
    </p-card>
  </div>
</div>
